/* --- IMAGENS DOS LIVROS (POSIÇÕES EXATAS) --- */

/* ritalee */
.img-ritalee { 
    position: absolute; 
    width: 427px; height: 592px; 
    background: url(ritalee.png); 
    top: 2600px; left: 160px; 
}

/* lula */
.img-lula { 
    position: absolute; 
    width: 409px; height: 597px; 
    background: url(lula.png); 
    top: 4000px; left: 160px; 
}

/* Neymatogross */
.img-ney { 
    position: absolute; 
    width: 392px; height: 596px; 
    background: url(9786559210923-228x228.jpg); 
    top: 1900px; left: 160px; 
}

/* quarto (Carolina Maria de Jesus) */
.img-quarto { 
    position: absolute; 
    width: 411px; height: 652px; 
    background: url(9788508171279-228x228.jpg); 
    top: 3300px; left: 160px; 
}

/* --- BLOCOS DE TEXTO E BOTÕES ROSA --- */

/* Rectangle 13 (Botão Ney) */
.rect-pink-ney {
    position: absolute;
    width: 765px; height: 92px;
    background: #FD00AC; border-radius: 68px;
    top: 2200px; left: 600px;
}

/* Rectangle 14 (Botão Rita Lee) */
.rect-pink-rita {
    position: absolute;
    width: 838px; height: 89px;
    background: #FD00AC; border-radius: 68px;
    top: 2900px; left: 600px;
}

/* Rectangle 15 (Botão Carolina) */
.rect-pink-carolina {
    position: absolute;
    width: 530px; height: 89px;
    background: #FD00AC; border-radius: 68px;
    top: 3600px; left: 600px;
}

/* Rectangle 5 (Botão Lula) */
.rect-pink-lula {
    position: absolute;
    width: 765px; height: 92px;
    background: #FD00AC; border-radius: 68px;
    top: 4300px; left: 600px;
}

/* --- TEXTOS DAS BIOGRAFIAS --- */

.txt-ney {
    position: absolute; width: 1094px; height: 345px;
    font-size: 48px; top: 1900px; left: 600px; color: #1E1E1E;
}

.txt-rita {
    position: absolute; width: 1094px; height: 345px;
    font-size: 48px; top: 2600px; left: 600px; color: #1E1E1E;
}

.txt-carolina {
    position: absolute; width: 1209px; height: 345px;
    font-size: 48px; top: 3300px; left: 600px; color: #1E1E1E;
}

.txt-lula {
    position: absolute; width: 1209px; height: 345px;
    font-size: 48px; top: 4000px; left: 600px; color: #1E1E1E;
}

/* Fireworks (Fogos de Artifício) */
.fireworks {
    position: absolute;
    width: 617px; height: 465px;
    background: url(Fireworks.png);
    top: 4500px; left: 1200px;
}
