.box {
  width: 1920px;
  height: 226px;
}

.box .rectangle {
  position: fixed;
  top: -111px;
  left: -227px;
  width: 1920px;
  height: 226px;
  background-color: #0033a0;
  border-radius: 70px 70px 0px 0px;
}


/* --- TEXTOS INTRODUTÓRIOS --- */
.intro-text-lê {
    position: absolute; width: 1599px; height: 696px;
    font-family: 'Poppins'; font-weight: 500; font-size: 64px; line-height: 96px;
    color: #1E1E1E; top: 350px; left: 160px;
}
.intro-text-carnaval {
    position: absolute; width: 1655px; height: 696px;
    font-family: 'Poppins'; font-weight: 500; font-size: 64px; line-height: 96px;
    color: #1E1E1E; top: 1100px; left: 160px;
}

/* --- BOTÃO AZUL VOLTA ÀS AULAS --- */
.rect-blue-btn {
    position: absolute; width: 707px; height: 127px;
    background: #0033A0; border-radius: 68px; top: 900px; left: 606px;
}
.text-btn-garantir {
    position: absolute; width: 570px; height: 96px;
    font-family: 'Poppins'; font-weight: 900; font-size: 48px; 
    text-decoration: underline; color: #FFFFFF; top: 915px; left: 675px;
}

/* --- LIVROS (POSIÇÕES) --- */
.img-ney { position: absolute; width: 392px; height: 596px; background: url(9786559210923-228x228.jpg); top: 1900px; left: 160px; }
.img-rita { position: absolute; width: 427px; height: 592px; background: url(ritalee.png); top: 2600px; left: 160px; }
.img-carolina { position: absolute; width: 411px; height: 652px; background: url(9788508171279-228x228.jpg); top: 3300px; left: 160px; }
.img-lula { position: absolute; width: 409px; height: 597px; background: url(lula.png); top: 4050px; left: 160px; }

/* --- TEXTOS BIOGRAFIAS --- */
.txt-bio-ney, .txt-bio-rita, .txt-bio-carolina, .txt-bio-lula {
    position: absolute; font-family: 'Poppins'; font-weight: 500; font-size: 48px; line-height: 72px; color: #1E1E1E;
}
.txt-bio-ney { width: 1094px; top: 1900px; left: 630px; }
.txt-bio-rita { width: 1094px; top: 2600px; left: 630px; }
.txt-bio-carolina { width: 1209px; top: 3300px; left: 630px; }
.txt-bio-lula { width: 1209px; top: 4050px; left: 630px; }

/* --- RETÂNGULOS ROSA --- */
.rect-pink-1, .rect-pink-2, .rect-pink-3, .rect-pink-4 {
    position: absolute; background: #FD00AC; border-radius: 68px;
}
.rect-pink-1 { width: 765px; height: 92px; top: 2150px; left: 630px; }
.rect-pink-2 { width: 765px; height: 92px; top: 2850px; left: 630px; }
.rect-pink-3 { width: 838px; height: 89px; top: 3550px; left: 630px; }
.rect-pink-4 { width: 530px; height: 89px; top: 4300px; left: 630px; }

/* --- DECORAÇÃO --- */
.mask-carnival {
    position: absolute; width: 581px; height: 288px; background: url(mask_carnival.png);
    transform: rotate(16.99deg); top: 1600px; left: 1300px;
}
.fireworks {
    position: absolute; width: 617px; height: 465px; background: url(Fireworks.png);
    top: 4600px; left: 1300px;
}
