/* Reset Básico */
body { margin: 0; padding: 0; background: #D9D9D9; overflow-x: auto; }

.figma-container {
    width: 1920px;
    height: 5287px;
    position: relative;
    margin: 0 auto;
    background: #D9D9D9;
}

/* --- CAMADAS DE CONFETES --- */
.confetti-1, .confetti-2, .confetti-3, .confetti-4 {
    position: absolute; background: url(confetti13.png); opacity: 0.12; pointer-events: none;
}
.confetti-1 { width: 1780px; height: 1800px; top: 0; left: 70px; }
.confetti-2 { width: 1724px; height: 1248px; top: 1200px; left: 100px; }
.confetti-3 { width: 677px; height: 1717px; top: 2400px; left: 0px; }
.confetti-4 { width: 614px; height: 1120px; top: 4100px; left: 1300px; }

/* --- HEADER (Rectangle 2 + Logo) --- */
.rectangle-2 {
    position: absolute; width: 1920px; height: 226px;
    background: #0033A0; border-radius: 70px 70px 0px 0px; top: 0; left: 0;
}
.logo-horizontal {
    position: absolute; width: 359px; height: 95px;
    background: url(LOGO_HORIZONTAL_BEIGE.png); top: 65px; left: 150px;
}
.newsletter-title {
    position: absolute; width: 830px; height: 262px;
    font-family: 'Poppins'; font-weight: 400; font-size: 48px; color: #FFFFFF;
    top: 75px; left: 550px;
}

/* --- TEXTOS INTRODUTÓRIOS --- */
.intro-text-lê {
    position: absolute; width: 1599px; height: 696px;
    font-family: 'Poppins'; font-weight: 500; font-size: 64px; line-height: 96px;
    color: #1E1E1E; top: 350px; left: 160px;
}
.intro-text-carnaval {
    position: absolute; width: 1655px; height: 696px;
    font-family: 'Poppins'; font-weight: 500; font-size: 64px; line-height: 96px;
    color: #1E1E1E; top: 1100px; left: 160px;
}

/* --- BOTÃO AZUL VOLTA ÀS AULAS --- */
.rect-blue-btn {
    position: absolute; width: 707px; height: 127px;
    background: #0033A0; border-radius: 68px; top: 900px; left: 606px;
}
.text-btn-garantir {
    position: absolute; width: 570px; height: 96px;
    font-family: 'Poppins'; font-weight: 900; font-size: 48px; 
    text-decoration: underline; color: #FFFFFF; top: 915px; left: 675px;
}

/* --- LIVROS (POSIÇÕES) --- */
.img-ney { position: absolute; width: 392px; height: 596px; background: url(9786559210923-228x228.jpg); top: 1900px; left: 160px; }
.img-rita { position: absolute; width: 427px; height: 592px; background: url(ritalee.png); top: 2600px; left: 160px; }
.img-carolina { position: absolute; width: 411px; height: 652px; background: url(9788508171279-228x228.jpg); top: 3300px; left: 160px; }
.img-lula { position: absolute; width: 409px; height: 597px; background: url(lula.png); top: 4050px; left: 160px; }

/* --- TEXTOS BIOGRAFIAS --- */
.txt-bio-ney, .txt-bio-rita, .txt-bio-carolina, .txt-bio-lula {
    position: absolute; font-family: 'Poppins'; font-weight: 500; font-size: 48px; line-height: 72px; color: #1E1E1E;
}
.txt-bio-ney { width: 1094px; top: 1900px; left: 630px; }
.txt-bio-rita { width: 1094px; top: 2600px; left: 630px; }
.txt-bio-carolina { width: 1209px; top: 3300px; left: 630px; }
.txt-bio-lula { width: 1209px; top: 4050px; left: 630px; }

/* --- RETÂNGULOS ROSA --- */
.rect-pink-1, .rect-pink-2, .rect-pink-3, .rect-pink-4 {
    position: absolute; background: #FD00AC; border-radius: 68px;
}
.rect-pink-1 { width: 765px; height: 92px; top: 2150px; left: 630px; }
.rect-pink-2 { width: 765px; height: 92px; top: 2850px; left: 630px; }
.rect-pink-3 { width: 838px; height: 89px; top: 3550px; left: 630px; }
.rect-pink-4 { width: 530px; height: 89px; top: 4300px; left: 630px; }

/* --- DECORAÇÃO --- */
.mask-carnival {
    position: absolute; width: 581px; height: 288px; background: url(mask_carnival.png);
    transform: rotate(16.99deg); top: 1600px; left: 1300px;
}
.fireworks {
    position: absolute; width: 617px; height: 465px; background: url(Fireworks.png);
    top: 4600px; left: 1300px;
}
